In [9]:
import pandas as pd
import numpy as np

In [10]:
filepath = 'data/train.csv'

In [11]:
data = pd.read_csv(filepath)
data

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5
...,...,...,...,...,...,...,...,...,...,...,...,...
29446,Owner,0,0,3,BHK,2500.000000,1,1,"Shamshabad Road,Agra",27.140626,78.043277,45.0
29447,Owner,0,0,2,BHK,769.230769,1,1,"E3-108, Lake View Recidency,,Vapi",39.945409,-86.150721,16.0
29448,Dealer,0,0,2,BHK,1022.641509,1,1,"Ajmer Road,Jaipur",26.928785,75.828002,27.1
29449,Owner,0,0,2,BHK,927.079009,1,1,"Sholinganallur,Chennai",12.900150,80.227910,67.0
29450,Dealer,0,1,2,BHK,896.774194,1,1,"Jagatpura,Jaipur",26.832353,75.841749,27.8

In [12]:
# Typage des données 
def can_be_converted_to_bool(col):
    return col.isin([0, 1]).all()

for col in data.columns:
    if can_be_converted_to_bool(data[col]):
        data[col] = data[col].astype(bool)

data

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,False,False,2,BHK,1300.236407,True,True,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
1,Dealer,False,False,2,BHK,1275.000000,True,True,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
2,Owner,False,False,2,BHK,933.159722,True,True,"Jigani,Bangalore",12.778033,77.632191,43.0
3,Owner,False,True,2,BHK,929.921143,True,True,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
4,Dealer,True,False,2,BHK,999.009247,False,True,"New Town,Kolkata",22.592200,88.484911,60.5
...,...,...,...,...,...,...,...,...,...,...,...,...
29446,Owner,False,False,3,BHK,2500.000000,True,True,"Shamshabad Road,Agra",27.140626,78.043277,45.0
29447,Owner,False,False,2,BHK,769.230769,True,True,"E3-108, Lake View Recidency,,Vapi",39.945409,-86.150721,16.0
29448,Dealer,False,False,2,BHK,1022.641509,True,True,"Ajmer Road,Jaipur",26.928785,75.828002,27.1
29449,Owner,False,False,2,BHK,927.079009,True,True,"Sholinganallur,Chennai",12.900150,80.227910,67.0
29450,Dealer,False,True,2,BHK,896.774194,True,True,"Jagatpura,Jaipur",26.832353,75.841749,27.8

In [13]:
# Supprimer les lignes avec plus de deux virgules dans les adresse 
df = data.copy()
df = df[df['ADDRESS'].str.count(',') == 1]
df[['DISTRICT', 'CITY']] = df['ADDRESS'].str.split(',', expand=True)
df = df.drop(['ADDRESS'], axis=1)
df = df.drop(['DISTRICT'], axis=1)
df = df.drop(['CITY'], axis=1)
df

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,False,False,2,BHK,1300.236407,True,True,12.969910,77.597960,55.0
1,Dealer,False,False,2,BHK,1275.000000,True,True,12.274538,76.644605,51.0
2,Owner,False,False,2,BHK,933.159722,True,True,12.778033,77.632191,43.0
3,Owner,False,True,2,BHK,929.921143,True,True,28.642300,77.344500,62.5
4,Dealer,True,False,2,BHK,999.009247,False,True,22.592200,88.484911,60.5
...,...,...,...,...,...,...,...,...,...,...,...
29445,Owner,False,False,2,BHK,1062.134891,True,True,15.866670,74.500000,40.0
29446,Owner,False,False,3,BHK,2500.000000,True,True,27.140626,78.043277,45.0
29448,Dealer,False,False,2,BHK,1022.641509,True,True,26.928785,75.828002,27.1
29449,Owner,False,False,2,BHK,927.079009,True,True,12.900150,80.227910,67.0
29450,Dealer,False,True,2,BHK,896.774194,True,True,26.832353,75.841749,27.8

In [14]:
df = pd.get_dummies(df, drop_first=True)
df

,UNDER_CONSTRUCTION,RERA,BHK_NO.,SQUARE_FT,READY_TO_MOVE,RESALE,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS),POSTED_BY_Dealer,POSTED_BY_Owner,BHK_OR_RK_RK
0,False,False,2,1300.236407,True,True,12.969910,77.597960,55.0,False,True,False
1,False,False,2,1275.000000,True,True,12.274538,76.644605,51.0,True,False,False
2,False,False,2,933.159722,True,True,12.778033,77.632191,43.0,False,True,False
3,False,True,2,929.921143,True,True,28.642300,77.344500,62.5,False,True,False
4,True,False,2,999.009247,False,True,22.592200,88.484911,60.5,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
29445,False,False,2,1062.134891,True,True,15.866670,74.500000,40.0,False,True,False
29446,False,False,3,2500.000000,True,True,27.140626,78.043277,45.0,False,True,False
29448,False,False,2,1022.641509,True,True,26.928785,75.828002,27.1,True,False,False
29449,False,False,2,927.079009,True,True,12.900150,80.227910,67.0,False,True,False
29450,False,True,2,896.774194,True,True,26.832353,75.841749,27.8,True,False,False

In [15]:
# Enregistrement du dataSet
df.to_csv('data/preprocessed/train.csv', index=False)